
input[type="text"],
input[type="search"]
textarea
  background #fff
  border 1px solid $inputBorderColor
  border-radius 160px
  font-family Lato, Roboto, 'Open Sans', Helvetica, sans-serif
  font-size 1em

  &:focus
    outline 0
