@import 'components/baseVariables'
@import 'components/variables'
@import 'components/fonts'
@import 'components/icons'
@import 'components/base'
@import 'components/forms'
@import 'components/buttons'
@import 'components/avatars'

$rowPadding = 0.5em

.app
  display flex
  flex-direction column

.app-header
  display flex
  justify-content space-between
  background-color $lightFillColor

.app-body
  overflow scroll

.location-button,
.search-button
  height $avatarSize
  width $avatarSize
  background #fff
  border 1px solid $inputBorderColor

@keyframes loadingPulsate {
  0% { color: $brandColor }
  100% { color: $lightFillColor }
}

.location-button
  &.is-current-location
    color: $brandColor

  &.is-updating-location
    border-color lighten(desaturate($brandColor, 50%), 50%)
    animation: loadingPulsate 600ms linear alternate infinite


// Search
.app-header-tools
  display flex
  height $avatarSize
  margin $rowPadding

  .search-input
    display none

  &.is-search-active
    .location-button,
    .search-button
      display none

    .search-input
      display inherit

.search-input
  height $avatarSize
  width 130px
  padding 0 "calc(%s / 3)" % $avatarSize

.tz-row
  display flex
  padding $rowPadding


.tz-info
  flex-shrink 0
  width 90px
  height $avatarSize
  line-height 1.1em

  .time
    display block
    font-size 16px

.tz-location
  font-size 10px
  color $mutedColor

.tz-people
  display flex

  .avatar
    margin-right 4px
